{% extends "base.html" %}
{% block content %}
    {% if employee_logged_in %}
        <form id="update_form_employee" name="update" method="post" action="{{base_path}}/employee/{{employee_logged_in.id}}/update">
            <fieldset>
                <legend>Päivitä tietosi</legend>
                <p>
                    <label for="first_name">Etunimi</label>
                    <input id="first_name" name="first_name" type="text" value="{{employee_logged_in.first_name}}"/>
                </p>
                <p>
                    <label for="last_name">Sukunimi</label>
                    <input id="last_name" name="last_name" type="text" value="{{employee_logged_in.last_name}}"/>
                </p>
                <p>
                    <label for="email">Sähköposti</label>
                    <input id="email" name="email" type="email" value="{{employee_logged_in.email}}"/>
                </p>
                <p>
                    <label for="username">Käyttäjätunnus</label>
                    <input id="username_employee" name="username" type="text" placeholder="{{employee_logged_in.username}}" readonly/>
                </p>
                <p>
                    <label for="password">Salasana</label>
                    <input id="password_employee" name="password" type="password" placeholder="{{employee_logged_in.password}}" readonly/>
                </p>
                <p>
                    <label for="employee_description">Esittely</label>
                    <textarea id="employee_description" name="description" rows="8" cols="40" value="{{employee_logged_in.description}}"></textarea>
                </p>
                <p>
                    <input type="submit" class="large blue">
                </p>
            </fieldset>
        </form>
        <form id="delete_form_employee" name="delete" method="post" action="{{base_path}}/employee/{{employee_logged_in.id}}/delete">
            <p class="right">
                Tästä voit poistaa kaikki tietosi
                <input type="submit" value="Poista" class="large red">
            </p>
        </form>
        {{emp}}
        <div class="col_12 column">
            <h5>Hakemani duunit</h5>
            <ul id="listings">
                {% for ap in appliedJobs %}
                    {% for job in jobs %}
                        {% if ap.job_id == job.id %}
                            {% if ap.employee_id == employee_logged_in.id %}
                                {% for employer in employers %}
                                    {% if job.employer_id == employer.id %}
                                        <li>
                                            {% for type in types %}
                                                {% if job.type_id == type.id %}
                                                    <div class="type">
                                                        {% if type.name == 'Täys päivä' %}
                                                            <span class="blue">
                                                                {{type.name}}</span>
                                                        {% elseif type.name == 'Osa aika'%}
                                                            <span>
                                                                {{type.name}}</span>
                                                        {% else %}
                                                            <span style="background-color: orange">
                                                                {{type.name}}</span>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                            <div class="description">
                                                <h5>{{job.job_name}}
                                                    ({{job.area}})</h5>
                                                {{job.description}}
                                                <a href="{{base_path}}/jobs/{{job.id}}">
                                                    Lisää...</a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
