{% extends "base.html" %}
{% block content %}
    <div class="col_5 column">
        <form id="reg_form_employee" method="post" action="{{base_path}}/register_employee">
            <fieldset>
                <legend>Duunin hakija luo tili</legend>
                <p>
                    <label for="first_name">Etunimi</label>
                    <input id="first_name" name="first_name" type="text"/>
                </p>
                <p>
                    <label for="last_name">Sukunimi</label>
                    <input id="last_name" name="last_name" type="text"/>
                </p>
                <p>
                    <label for="email">Sähköposti</label>
                    <input id="email" name="email" type="email"/>
                </p>
                <p>
                    <label for="username">Käyttäjätunnus</label>
                    <input id="username" name="username" type="text"/>
                </p>
                <p>
                    <label for="password">Salasana</label>
                    <input id="password" name="password" type="password"/>
                </p>
                <p>
                    <label for="employee_description">Esittely</label>
                    <textarea id="employee_description" name="description" rows="8" cols="40"></textarea>
                </p>
                <p>
                    <input type="submit" class="large orange"/>
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}
