{% extends "base.html" %}
{% block content %}
    {% if employer_logged_in %}
        <form id="update_form_employer" name="update" method="post" action="{{base_path}}/employer/{{employer_logged_in.id}}/update">
            <fieldset>
                <legend>{{employer_logged_in.company_name}}
                    Muuta tietojasi</legend>
                <p style="bolder">{{message}}</p>
                <p>
                    <label for="company">Yrityksen nimi</label>
                    <input id="company" name="company_name" type="text" value="{{employer_logged_in.company_name}}"/>

                </p>
                <p>
                    <label for="email_company">Sähköposti</label>
                    <input id="email_company" name="email" type="email" value="{{employer_logged_in.email}}"/>
                </p>
                <p>
                    <label for="username_company">Käyttäjätunnus</label>
                    <input id="username_company" name="username" type="text" value=" {{employer_logged_in.username}} "/>
                </p>
                <p>
                    <label for="password_company">Salasana</label>
                    <input id="password_company" name="password" type="password" value=" {{employer_logged_in.password}} "/>
                </p>
                <p>
                    <label for="company_description">Yritys esittely</label>
                    <textarea id="company_description" name="company_description" rows="8" cols="40" value="  {{employer_logged_in.company_description}} "></textarea>
                </p>
                <p>
                    <input type="submit" value="Päivitä" class="large blue" form="update_form_employer">
                </p>
            </fieldset>
        </form>
        <form id="delete_form_employer" name="delete" method="post" action="{{base_path}}/employer/{{employer_logged_in.id}}/delete">
            <p class="right">
                Tästä voit poistaa kaikki tietosi
                <input type="submit" value="Poista" class="large red">
            </p>
        </form>
        <div class="col_12 column">
            {% if jobs is empty %}
                <h5>Et ole vielä lisännyt yhtään duunia</h5>
            {% endif %}
            <h5>Lisäämäni duunit</h5>
            <ul id="listings">
                {% for job in jobs %}
                    {% if job.employer_id == employer_logged_in.id %}
                        <li>
                            {% for type in types %}
                                {% if job.type_id == type.id %}
                                    <div class="type">
                                        {% if type.name == 'Täys päivä' %}
                                            <span class="blue">
                                                {{type.name}}</span>
                                        {% elseif type.name == 'Osa aika'%}
                                            <span>
                                                {{type.name}}</span>
                                        {% else %}
                                            <span style="background-color: orange">
                                                {{type.name}}</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="description">
                                <h5>{{job.job_name}}
                                    ({{job.area}})</h5>
                                {{job.description}}
                                <a href="{{base_path}}/jobs/{{job.id}}">
                                    Lisää...</a>
                                <p>
                                    <input type="button" name="delete" value="Poista" method="post" class="orange">
                                    <input type="button" name="update" value="Muokkaa" method="post" class="green">
                                </p>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
