{% extends "base.html" %}
{% block content %}
    <div class="col_6 column">
        <form id="login_form_employer" method="post" action="{{base_path}}/login_employer">
            <fieldset>
                <legend>Duunin tarjoaja kirjaudu</legend>
                <p>
                    <label for="username_employer">Käyttäjätunnus</label>
                    <input id="username_employer" name="username" type="text"/>
                </p>
                <p>
                    <label for="password_employer">Salasana</label>
                    <input id="password_employer" name="password" type="password"/>
                </p>
                <p>
                    <input class="green" type="submit" value="Lähetä"/>
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}
