{% extends "base.html" %}
{% block content %}
    <div class="col_5 column">
        <form id="reg_form_employee">
            <fieldset>
                <legend>Duunin hakija luo tili</legend>
                <p>
                    <label for="first_name">Etunimi</label>
                    <input id="first_name" name="first_name" type="text"/>
                </p>
                <p>
                    <label for="last_name">Sukunimi</label>
                    <input id="last_name" name="last_name" type="text"/>
                </p>
                <p>
                    <label for="email">Sähköposti</label>
                    <input id="email" name="email" type="email"/>
                </p>
                <p>
                    <label for="username">Käyttäjätunnus</label>
                    <input id="username" name="username" type="text"/>
                </p>
                <p>
                    <label for="password">Salasana</label>
                    <input id="password" name="password" type="password"/>
                </p>
                <p>
                    <label for="password2">Salasana uudelleen</label>
                    <input id="password2" name="password2" type="password"/>
                </p>
                <p>
                    <label for="employee_description">Esittely</label>
                    <textarea id="employee_description" name="employee_description" rows="8" cols="40"></textarea>
                </p>
                <p>
                    <input type="submit" value="Rekisteröidy" method="post" class="large orange"/>
                </p>
            </fieldset>
        </form>
    </div>
    <div class="col_1 column"></div>
    <div class="col_5 column">
        <form id="reg_form_employer">
            <fieldset>
                <legend>Duunin tarjoaja luo tili</legend>
                <p>
                    <label for="company">Yrityksen nimi</label>
                    <input id="company" name="company" type="text"/>
                </p>
                <p>
                    <label for="email_company">Sähköposti</label>
                    <input id="email_company" name="email_company" type="email"/>
                </p>
                <p>
                    <label for="username_company">Käyttäjätunnus</label>
                    <input id="username_company" name="username_company" type="text"/>
                </p>
                <p>
                    <label for="password_company">Salasana</label>
                    <input id="password_company" name="password_company" type="password"/>
                </p>
                <p>
                    <label for="password2_company">Salasana uudelleen</label>
                    <input id="password2_company" name="password2_company" type="password"/>
                </p>
                <p>
                    <label for="company_description">Yritys esittely</label>
                    <textarea id="company_description" name="company_description" rows="8" cols="40"></textarea>
                </p>
                <p>
                    <input type="submit" value="Rekisteröidy" method="post" class="large green"/>
                </p>
            </fieldset>
        </form>
    </div>
{% endblock %}
