<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            {% endblock %}
        </title>

        {% block head %}
            <!-- Bootstrap ja Kickstart(tyylitiedosto) -->
            <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
            <link href="{{base_path}}/vendor/kickstart/css/kickstart.css" rel="stylesheet">
            <!-- Oma tyylitiedostomme -->
            <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <div id="container" class="grid">
            <header>
                <div class="col_6 column">
                    <h1>
                        <a href="{{base_path}}/home">
                            <strong>Duuni</strong>HaKuRi</a>
                    </h1>
                </div>
                <div class="col_6 column right">
                    <form id="add_job">
                        <button class="large blue">
                            <a href="{{base_path}}/addjob" id="addjob_button">Lisää Duuni</a>
                        </button>
                    </form>
                </div>
            </header>

            <div class="col_12 column">
                <!-- Menu palkki -->
                <ul class="menu">
                    <li class="current">
                        <a href="{{base_path}}/home">
                            Koti</a>
                    </li>
                    <li>
                        <a href="{{base_path}}/jobs">Tsekkaa Duunit</a>
                    </li>
                    <li class="right">
                      <a href="{{base_path}}/login_employee">
                          Kirjaudu Hakija</a>
                  </li>
                  <li class="right">
                      <a href="{{base_path}}/login_employer">
                          Kirjaudu Tarjoaja</a>
                  </li>
                  <li class="right">
                      <a href="r{{base_path}}/register_employee">
                          Rekisteröidy Hakija</a>
                  </li>
                  <li class="right">
                      <a href="{{base_path}}/register_employer">
                          Rekisteröidy Tarjoaja</a>
                  </li>
                </ul>
            </div>

            <div id="search_area" class="col_12 column">
                <form class="horizontal" method="post" action="">
                    <input id="keywords" type="text" placeholder="Mitä duunia haetaan?"/>
                    <select id="area_select">
                        <option>Mistä päin?</option>
                        <option value="espoo">Espoo</option>
                        <option value="helsinki">Helsinki</option>
                        <option value="vantaa">Vantaa</option>
                        <option value="turku">Turku</option>
                        <option value="lappeenranta">Lappeenranta</option>
                        <option value="tampere">Tampere</option>
                        <option value="jyvaskyla">Jyväskylä</option>
                        <option value="oulu">Oulu</option>
                    </select>
                    <select id="category_select">
                        <option>Miltä alalta?</option>
                        <option>Front-end devaaja</option>
                        <option>Back-end devaaja</option>
                        <option>UI designeri</option>
                        <option>Fullstack guru</option>
                        <option>Pelin rakentaja</option>
                        <option>iOS / Android / Mobile osaaja</option>
                        <option>Wordpress / Magento / Joomla / ECommerce häkkääjä</option>
                    </select>
                    <button class="large blue" type="submit">Hae</button>
                </form>
            </div>
            <div class="col_12 column">
                <!-- Dynaaminen sisältö tulee tähän -->
                {% block content %}{% endblock %}
            </div>
            <div class="clearfix"></div>
            <footer>
                <p>Copyright 2016, DuuniHakuri... eiku ei mitään copuraitteja :-D</p>
            </footer>
        </div>
        <!-- End Grid -->
        {% block body %}
            <!-- jQuery -->
            <script src="{{base_path}}/vendor/jquery.min.js"></script>

            <!-- Bootstrap ja KickStart (skriptitiedostot) -->
            <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>
            <script src="{{base_path}}/vendor/kickstart/js/kickstart.js"></script>

            <!-- Oma skriptitiedostomme -->
            <script src="{{base_path}}/assets/js/site.js"></script>
        {% endblock %}

    </body>
</html>
