{% extends "base.html" %}
{% block content %}
    <h3>Tälläsiä olis tällä hetkellä tarjolla</h3>
    <ul id="listings">
        {% for job in jobs %}
            <li>
              {% for type in types %}
                  {% if job.type_id == type.id %}
                      <div class="type">
                          {% if type.name == 'Täys päivä' %}
                              <span class="blue">
                                  {{type.name}}</span>
                          {% elseif type.name == 'Osa aika'%}
                              <span>
                                  {{type.name}}</span>
                          {% else %}
                              <span style="background-color: orange">
                                  {{type.name}}</span>
                          {% endif %}
                      </div>
                  {% endif %}
              {% endfor %}
                <div class="description">
                    <h5>{{job.job_name}}
                        ({{job.area}})</h5>
                    {{job.description}}
                    <a href="{{base_path}}/jobs/{{job.id}}">
                        Lisää...</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
