{% extends "base.html" %}
{% block content %}
    <h3>Tälläsiä olis tällä hetkellä tarjolla</h3>
    <ul id="listings">
        {% for job in jobs %}
            <li>
                <div class="type">
                    <span class="blue">
                        {{job.type_id.name}}</span>
                </div>
                <div class="description">
                    <h5>{{job.job_name}}
                        ({{job.area}})</h5>
                    {{job.description}}
                    <a href="{{base_path}}/jobs/{{job.id}}">
                        Lisää...</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
